<ion-header [translucent]="true">
  <ion-toolbar>

    <div class="home_header" *ngIf="home">
      <div class="sec_1">
        <div class="home_icon">
          <ion-icon src="/assets/icon/header-icon.svg"></ion-icon>
        </div>
        <div *ngIf="db.header_content">
          <h1 class="m-0">{{db.header_content ? db.header_content.store_name : 'Guest'}}</h1>
          <p class="m-0">POS Terminal</p>
        </div>
      </div>
      <div class="sec_2" *ngIf="db.header_content">
        <ion-icon src="/assets/tabs-icon/profile.svg"></ion-icon>
        <p class="m-0">{{db.header_content ? db.header_content.username : 'Guest'}}</p>
      </div>
    </div>

    <div class="back_header" *ngIf="!home">
      <div class="back_icon">
        <ion-icon name="chevron-back-outline" (click)="back_route()"></ion-icon>
      </div>
      <div>
        <h1 class="m-0">{{title}}</h1>
      </div>
    </div>

  </ion-toolbar>
</ion-header>