
<div class="product">
  <div class="product-card" *ngFor="let item of catalog">
    <div class="product-card__container">
      
      <!-- Thumbnail -->
      <div class="product-card__thumbnail">
        <img *ngIf="item.item_image" [src]="db.getImage(item.item_image)" [alt]="item.item_name" />
        <!-- <span *ngIf="!item.item_image" class="product-card__thumbnail-text">{{item.item_name}}</span> -->
         <img *ngIf="!item.item_image" src="/assets/icon/no-img.png" [alt]="item.item_name" />
      </div>
  
      <!-- Content -->
      <div class="product-card__content">
        <h3 class="product-card__title">{{item.item_name}}</h3>
        <p class="product-card__author">{{item?.author_name ?? " - "}}</p>
  
        <!-- Price + Stock -->
        <div class="product-card__pricing">
          <span class="product-card__price">{{db.formatCurrency(item.price_list_rate)}}</span>
          <div class="product-card__stock">{{item.actual_qty > 0 ? item.actual_qty + " in stock" : "Out of stock"}} </div>
        </div>
  
        <!-- Actions -->
        <div class="product-card__actions">
          
          <!-- Quantity Control -->
          <div class="product-card__quantity" [class.disable__qty]="!item.actual_qty">
            <button (click)="db.update_qty(item,'dec')" [disabled]="item.qty <= 1" class="product-card__quantity-btn product-card__quantity-btn--decrease" >
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon--small" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <path d="M5 12h14"></path>
              </svg>
            </button>
            <span class="product-card__quantity-value">{{item.qty ?? 1}}</span>
            <button (click)="db.update_qty(item,'inc')" class="product-card__quantity-btn product-card__quantity-btn--increase">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon--small" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <path d="M5 12h14"></path>
                <path d="M12 5v14"></path>
              </svg>
            </button>
          </div>
  
          <!-- Add to Cart -->
          <ion-button (click)="add_to_cart(item)" class="product-card__add-btn" [disabled]="!item.actual_qty">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon--medium" viewBox="0 0 24 24" fill="none" stroke="currentColor">
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>
            Add
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</div>
