<section>
  <div class="main_section">

    <div class="customer_details">
      <div class="type_input">
        <label for="customer_name">Customer Name <span>*</span></label>
        <input id="customer_name" [(ngModel)]="customer.customer_name" placeholder="Enter customer name" name="customer_name" type="text" />
      </div>

      <div class="type_input">
        <label for="customer_phone">Customer Phone <span>*</span></label>
        <input id="customer_phone" [(ngModel)]="customer.customer_phone" placeholder="Enter customer phone" name="customer_phone" type="number" (input)="validatePhone($event)"/>

        <p class="error" *ngIf="phone_error">Please enter a valid mobile number</p>
      </div>
    </div>

    <div class="select_payment_method">
      <label>Select Payment Mode</label>
      <div class="payment_list">
        <div *ngFor="let item of payment_types; let i = index" class="boxes" (click)="selected_payment(item)" [class.selected_payment]="payment ? payment.type == item.name : null">
          <ion-icon [src]="item.icon"></ion-icon>
          <p class="m-0">{{item.name}}</p>
        </div>
      </div>
    </div>

    <div class="payment_fields" *ngIf="payment?.type === 'Cash'">
      <div class="mb-10">
        <label>Cash Received</label>
        <input placeholder="Enter Amount" (change)="equalCost(payment)" [(ngModel)]="payment.cash" name="cash" type="number" />
      </div>
      <div class="mb-10">
        <label>Variance</label>
        <input placeholder="Variance" readonly [(ngModel)]="payment.variance" name="cash" type="number" />
      </div>
    </div>

    <div *ngIf="payment?.type === 'Split'">
      <div class="payment_fields first_payment">
        <div class="type_input">
          <label for="first_payment">First Payment Method</label>
          <select
            class="select mt-10"
            placeholder="Enter payment type"
            name="first_payment"
            [(ngModel)]="payment.first_payment_type"
            (change)="split_change($event,'first_payment_type')"
          >
            <option *ngFor="let item of payment_select" [value]="item.name">
              {{ item.name }}
            </option>
            </select>
        </div>

        <div class="amount">
          <label for="first_payment_amount">Amount</label>
          <input id="first_payment_amount" (change)="payment_amount_change($event,'first_payment_amount')" [(ngModel)]="payment.first_payment_amount" placeholder="Enter Amount" name="first_payment_amount" type="number">
        </div>
      </div>
  
      <div class="payment_fields">
        <div class="type_input">
          <label for="second_payment">Second Payment Method</label>
           <select
            class="select mt-10"
            placeholder="Enter payment type"
            name="first_payment"
            [(ngModel)]="payment.second_payment_type"
            (change)="split_change($event,'second_payment_type')"
          >
            <option *ngFor="let item of payment_select" [value]="item.name">
              {{ item.name }}
            </option>
            </select>
        </div>

        <div class="amount">
          <label for="second_payment_amount">Amount</label>
          <input id="second_payment_amount" (change)="payment_amount_change($event,'second_payment_amount')" [(ngModel)]="payment.second_payment_amount" placeholder="Enter Amount" name="second_payment_amount" type="number">
        </div>
      </div>
    </div>

  </div>

  <div class="save_btn">
    <ion-button fill="clear" [disabled]="!(customer.customer_name && customer.customer_phone)" class="complete" (click)="create_invoice()">Complete Payment</ion-button>
  </div>
</section>