.main_section {
    padding: 1rem;
    height: calc(100vh - 120px);
    overflow: auto;

    .pending_reviews {
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: .75rem;

            h3 {
                font-weight: 600;
                font-size: .875rem;
                line-height: 1.25rem;
            }

            .items_count {
                font-weight: 600;
                font-size: .75rem;
                line-height: 1rem;
                padding-top: .125rem;
                padding-bottom: .125rem;
                padding-left: .625rem;
                padding-right: .625rem;
                background: #f0f2f4;
                border-radius: 9999px;
            }
        }

        .pending_list {

            .boxes {
                padding: 1rem;
                border: 1px solid #f59f0a;
                border-radius: 0.75rem;
                background: #fff;
                margin-bottom: 0.75rem;

                .sec1 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .book_name {
                        font-weight: 600;
                        font-size: .875rem;
                        line-height: 1.25rem;
                    }

                    .received_date {
                        color: #6b7280;
                        font-size: .75rem;
                        line-height: 1rem;
                        margin-top: .25rem;
                    }

                    .status {
                        color: #f59f0a;
                        font-weight: 600;
                        font-size: .75rem;
                        line-height: 1rem;
                        padding-top: .125rem;
                        padding-bottom: .125rem;
                        padding-left: .625rem;
                        padding-right: .625rem;
                        background: #f59f0a1a;
                        border: 1px solid #f59f0a;
                        border-radius: 9999px;
                    }
                }

                .sec2 {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    margin-top: 0.25rem;

                    .quantity {
                        color: #6b7280;
                        font-size: .875rem;
                        line-height: 1.25rem;
                    }

                    .quantity_value {
                        font-size: 1.125rem;
                        line-height: 1.75rem;
                        font-weight: 700;
                    }

                    ion-button {
                        --background: #fff !important;
                        --color: #000;

                        ion-icon {
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }

                .sec3 {
                    margin-top: .75rem;

                    .comment_title {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        margin-bottom: .25rem;

                        ion-icon {
                            width: 1rem;
                            height: 1rem;
                        }

                        span {
                            color: #6b7280;
                            font-size: .75rem;
                            line-height: 1rem;
                        }
                    }

                    textarea {
                        font-size: .875rem;
                        line-height: 1.25rem;
                        padding-top: .5rem;
                        padding-bottom: .5rem;
                        padding-left: .75rem;
                        padding-right: .75rem;
                        background: #f6f7f9;
                        border-radius: calc(0.75rem - 2px);
                        min-height: 60px;
                        resize: vertical;
                        border: 1px solid var(--border-color);
                        width: 100%;

                        &:focus {
                            outline: 1px solid var(--primary-color);
                        }
                    }
                }

                .sec4 {
                    ion-button {

                        ion-icon {
                            margin-right: 1rem;
                        }

                        margin-top: 0.75rem;
                        font-weight: 500;
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        --padding-top: 0.5rem;
                        --padding-bottom: 0.5rem;
                        --padding-left: 1rem;
                        --padding-right: 1rem;
                        --border-radius: calc(0.75rem - 2px);
                        width: 100%;
                        height: 2.5rem;
                    }
                }
            }

            .stock_boxes {
                .boxes {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .box_1 {
                        display: flex;
                        gap: 10px;

                        .sec_1 {
                            ion-icon {
                                padding: .5rem;
                                background: #f59f0a1a;
                                border-radius: 0.75rem;
                                width: 1.25rem;
                                height: 1.25rem;
                            }
                        }

                        .sec_2 {
                            .id {
                                font-size: .875rem;
                                line-height: 1.25rem;
                                font-weight: 600;
                            }

                            .from {
                                font-size: .75rem;
                                line-height: 1rem;
                                margin-top: .25rem;
                                color: #6b7280;
                            }

                            .date {
                                font-size: .75rem;
                                line-height: 1rem;
                                margin-top: .25rem;
                                color: #6b7280;
                            }

                            .count_status {
                                display: flex;
                                align-items: center;
                                gap: .5rem;
                                margin-top: .5rem;

                                .items {
                                    font-weight: 600;
                                    font-size: .75rem;
                                    line-height: 1rem;
                                    padding-top: .125rem;
                                    padding-bottom: .125rem;
                                    padding-left: .625rem;
                                    padding-right: .625rem;
                                    border-radius: 9999px;
                                    align-items: center;
                                    display: inline-flex;
                                    border: 1px solid var(--border-col);
                                }

                                .status {
                                    color: #f59f0a;
                                    font-weight: 600;
                                    font-size: .75rem;
                                    line-height: 1rem;
                                    padding-top: .125rem;
                                    padding-bottom: .125rem;
                                    padding-left: .625rem;
                                    padding-right: .625rem;
                                    background-color: #f59f0a1a;
                                    border: 1px solid #f59f0a;
                                    border-radius: 9999px;
                                    align-items: center;
                                    display: inline-flex;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .confirmed_receipt {
        .title {
            margin-bottom: .75rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
                font-weight: 600;
                font-size: .875rem;
                line-height: 1.25rem;
            }
        }

        .confirmed_list {
            .boxes {
                padding: 1rem;
                border: 1px solid #16a249;
                background: #16a2490d;
                border-radius: 0.75rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .book_detail {
                    h4 {
                        font-weight: 600;
                        font-size: .875rem;
                        line-height: 1.25rem;
                    }

                    p {
                        color: #6b7280;
                        font-size: .75rem;
                        line-height: 1rem;
                        margin-top: .25rem;
                    }
                }

                .status {

                    ion-icon {
                        margin-right: .25rem;
                        width: .75rem;
                        height: .75rem;
                    }

                    color: #16a249;
                    font-size: .75rem;
                    line-height: 1rem;
                    padding-top: .125rem;
                    padding-bottom: .125rem;
                    padding-left: .625rem;
                    padding-right: .625rem;
                    background: #16a2491a;
                    border: 1px solid #16a249;
                    border-radius: 9999px;
                    display: flex;
                    align-items: center;
                }
            }

            .stock_boxes {
                .boxes {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .box_1 {
                        display: flex;
                        gap: 10px;

                        .sec_1 {
                            ion-icon {
                                padding: .5rem;
                                background: #16a2491a;
                                border-radius: 0.75rem;
                                width: 1.25rem;
                                height: 1.25rem;
                            }
                        }

                        .sec_2 {
                            .id {
                                font-size: .875rem;
                                line-height: 1.25rem;
                                font-weight: 600;
                            }

                            .from {
                                font-size: .75rem;
                                line-height: 1rem;
                                margin-top: .25rem;
                                color: #6b7280;
                            }

                            .date {
                                font-size: .75rem;
                                line-height: 1rem;
                                margin-top: .25rem;
                                color: #6b7280;
                            }

                            .count_status {
                                display: flex;
                                align-items: center;
                                gap: .5rem;
                                margin-top: .5rem;

                                .items {
                                    font-weight: 600;
                                    font-size: .75rem;
                                    line-height: 1rem;
                                    padding-top: .125rem;
                                    padding-bottom: .125rem;
                                    padding-left: .625rem;
                                    padding-right: .625rem;
                                    border-radius: 9999px;
                                    align-items: center;
                                    display: inline-flex;
                                    border: 1px solid var(--border-col);
                                }

                                .status {
                                    color: #16a249;
                                    font-weight: 600;
                                    font-size: .75rem;
                                    line-height: 1rem;
                                    padding-top: .125rem;
                                    padding-bottom: .125rem;
                                    padding-left: .625rem;
                                    padding-right: .625rem;
                                    background-color: #16a2491a;
                                    border: 1px solid #16a249;
                                    border-radius: 9999px;
                                    align-items: center;
                                    display: inline-flex;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.save_btn {
    padding: 0.75rem;
    border-top: 1px solid var(--border-col);
    background: #fff;

    ion-button {
        --padding-start: 2rem;
        --padding-end: 2rem;
        --padding-top: 0.75rem;
        --padding-bottom: 0.75rem;
        width: 100%;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 600;
        --border-radius: calc(0.75rem - 2px);

        ion-icon {
            margin-right: 1rem;
        }
    }
}