<app-header [home]="false" [title]="'Stock Receipt'"></app-header>

<ion-content [fullscreen]="true" style="--background: #f6f7f9;">

  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment" class="segment_bar" mode="md">
    <ion-segment-button value="pending_list" content-id="first">
      <ion-label>Pending</ion-label>
    </ion-segment-button>
    <ion-segment-button value="confirmed_list" content-id="second">
      <ion-label>Confirmed</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="main_section" [class.completed_list]="selectedSegment == 'confirmed_list'" (scroll)="load_more($event)">

    <div class="pending_reviews" *ngIf="selectedSegment == 'pending_list'">

      <div class="title">
        <h3 class="m-0">Pending Confirmation ({{stock_entry_list?.pending_count}})</h3>
      </div>

      <div class="pending_list" *ngIf="stock_entry_list.pending && stock_entry_list.pending.length > 0">
        <div *ngFor="let item of stock_entry_list.pending" class="stock_boxes" (click)="goToReceiptDetails(item)">
          <div class="boxes">
            <div class="box_1">
              <div class="sec_1">
                <ion-icon src="/assets/icon/receipt-items-pending.svg"></ion-icon>
              </div>
              <div class="sec_2">
                <p class="m-0 id">{{item.name}}</p>
                <!-- <p class="m-0 from">From: {{item.custom_final_target_warehouse ?? " - "}}</p> -->
                <p class="m-0 date">Date: {{item.posting_date}}</p>
                <div class="count_status">
                  <p class="m-0 items">{{item.items_count ?? ' 0 '}} Items</p>
                  <p class="m-0 status">{{item.status ?? "-"}}</p>
                </div>
              </div>
            </div>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </div>
      </div>

      <div *ngIf="stock_entry_list.pending && stock_entry_list.pending.length == 0">
        <div class="no_data">
          <!-- <img src="/assets/images/no_data.png" alt="No Data"> -->
          <p class="m-0">No Pending Stock Receipts</p>
        </div>
      </div>

    </div>

    <div class="confirmed_receipt" *ngIf="selectedSegment == 'confirmed_list'">
      <div class="title">
        <h3 class="m-0">Confirmed ({{stock_entry_list?.confirmed_count}})</h3>
      </div>
      <div class="confirmed_list" *ngIf="stock_entry_list.confirmed && stock_entry_list.confirmed.length > 0">
       
        <div *ngFor="let item of stock_entry_list.confirmed" class="stock_boxes">
          <div class="boxes">
            <div class="box_1">
              <div class="sec_1">
                <ion-icon src="/assets/icon/receipt-items-completed.svg"></ion-icon>
              </div>
              <div class="sec_2">
                <p class="m-0 id">{{item.name}}</p>
                <!-- <p class="m-0 from">From: {{item.custom_final_target_warehouse ?? " - "}}</p> -->
                <p class="m-0 date">Date: {{item.posting_date}}</p>
                <div class="count_status">
                  <p class="m-0 items">{{item.items_count ?? " 0 "}} Items</p>
                  <p class="m-0 status">{{item.status ?? " - "}}</p>
                </div>
              </div>
            </div>
            <!-- <ion-icon name="chevron-forward-outline"></ion-icon> -->
          </div>
        </div>
      </div>

      <div *ngIf="stock_entry_list && stock_entry_list.confirmed && stock_entry_list.confirmed.length == 0">
        <div class="no_data">
          <!-- <img src="/assets/images/no_data.png" alt="No Data"> -->
          <p class="m-0">No Confirmed Stock Receipts</p>
        </div>
      </div>

    </div>

  </div>

  <!-- <div class="save_btn" *ngIf="selectedSegment == 'pending_list'">
    <ion-button fill="clear">Complete Receipt Process</ion-button>
  </div> -->

</ion-content>
