.scanner-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.scanner-frame {
    border: 2px solid var(--primary-color);
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    border-style: dashed;
    height: 55px;

    p {
        font-weight: 600;
        font-size: 15px;
        color: var(--primary-color);
    }

    ion-icon {
        font-size: 20px;
    }
}

.book_list {
    height: 100%;
    overflow: auto;
    padding: 10px;

    .book_box {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}

.no-data {
    text-align: center;
    color: var(--combobox-muted, #6b7280);
    margin-top: 2rem;
}

.cart-container {
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // right: 0;
    padding: 1rem; // p-4
    // background: linear-gradient(to top, var(--background), transparent);
    pointer-events: none; // container non-interactive

    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 1;
    width: 100%;
}

.cart-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 2.75rem; // h-11
    padding: 0 2rem;
    border-radius: 0.375rem; // rounded-md
    background-color: var(--primary-color);
    color: #fff;
    font-size: 0.875rem; // text-sm
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    pointer-events: auto; // enable button clicks
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    max-width: 100%;

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.cart-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
}

.heightSec {
    height: calc(100vh - 205px);
    overflow: auto;
}