.scanner-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.scanner-frame {
    border: 2px solid var(--primary-color);
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    border-style: dashed;
    height: 55px;

    p {
        font-weight: 600;
        font-size: 15px;
        color: var(--primary-color);
    }

    ion-icon {
        font-size: 20px;
    }
}

.book_list {
    height: 100%;
    overflow: auto;
    padding: 10px;

    .book_box {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}