<app-header
  [home]="false"
  [title]="'Barcode Scan'"

></app-header>
<!-- [backRoute]="'/catalog'" -->


<ion-content [fullscreen]="true">
  <div class="scanner-content">
    <div class="scanner-frame" (click)="startScan()">
      <p class="m-0 d__flex gap-10"><ion-icon name="camera-outline"></ion-icon>Scan Book Bar Code</p>
    </div>
  
    <div class="p-10">
      <app-catalog-cards *ngIf="scannedValue && scannedValue.length > 0" [catalog]="scannedValue"></app-catalog-cards>
    </div>
  </div>
</ion-content>