<app-header [home]="true"></app-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <main class="order-history bg-background" *ngIf="orders && orders.length > 0">
    <div
      *ngFor="let order of orders"
      class="order-history__card"
    >
      <div class="order-history__content">
        <!-- Header -->
        <div class="order-history__header">
          <div>
            <h3 class="order-history__id">{{ order.order_id }}</h3>
            <div class="order-history__time">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="order-history__icon"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <polyline points="12 6 12 12 16 14"></polyline>
              </svg>
              <span>{{ order.date }} • {{ order.time }}</span>
            </div>
          </div>
  
          <div class="order-history__status">{{order.status}}</div>
        </div>
  
        <!-- Items -->
        <div class="order-history__items">
          <div class="order-history__item-count">
            {{ order.items.length }} item(s)
          </div>
          <div
            *ngFor="let item of order.items"
            class="order-history__item"
          >
            {{ item.item_name }} × {{ item.qty }}
          </div>
        </div>
  
        <!-- Payment -->
        <div class="order-history__payment" *ngFor="let pay of order.payments">
          <div class="order-history__payment-type">
            <img [src]="paymentIcons[pay.mode_of_payment]" alt="payment icon" class="order-history__payment-icon" />
  
            <span class="order-history__payment-label">
              {{ pay.mode_of_payment }}
            </span>
          </div>
  
          <div class="order-history__total">
            {{ db.formatCurrency(pay.amount) }}
          </div>
        </div>
          
      </div>
    </div>
  </main>

  <div class="no-orders" *ngIf="orders && orders.length === 0">
    <!-- <img src="assets/images/no-orders.svg" alt="No Orders" class="no-orders__image" /> -->
    <h2 class="no-orders__title">No Orders Yet</h2>
    <p class="no-orders__subtitle">You haven't placed any orders yet. Start shopping now!</p>
    <ion-button routerLink="/catalog" class="no-orders__button">Shop Now</ion-button>
  </div>
  
</ion-content>
