<app-header [home]="false" [title]="'Wrong Receipt'"></app-header>

<ion-content [fullscreen]="true" style="--background: #f6f7f9;">
  
  <div class="main_section">

    <div class="books">
      <h5 class="m-0 title">Select Wrong Books Received</h5>
  
      <div class="inputs_sec">
        <div class="book_name_input">
          <label>Physical Quantity</label>
          <select [(ngModel)]="selected_book" *ngIf="wrong_book_list && wrong_book_list.length > 0">
            <option value="" selected>Select Book</option>
            <option *ngFor="let item of wrong_book_list" [value]="item.item_code">{{item.book_name}}</option>
          </select>
        </div>
        <div class="quantity">
          <label>Quantity</label>
          <input type="number" placeholder="Quantity" [(ngModel)]="quantity">
        </div>
      </div>

      <div class="save_btn">
        <ion-button fill="clear" (click)="saveSelectBook()"><ion-icon class="white" name="add-outline"></ion-icon>Add Book to Report</ion-button>
      </div>
    </div>

    <div class="saved_books" *ngIf="saved_books && saved_books.length > 0">
      <h5 class="m-0 title">Books in Wrong Transfer Report</h5>

      <div *ngFor="let item of saved_books; let i = index" class="books_">
        <div>
          <p class="m-0 book">{{item.book_name}}</p>
          <p class="m-0 quantity">Qty: {{item.qty}}</p>
        </div>
        <ion-icon (click)="remove_book(i)" name="close-outline"></ion-icon>
      </div>
    </div>

    <div class="save_btn">
      <ion-button fill="clear" (click)="saveWrongBook()"><ion-icon class="white" name="checkmark-circle-outline"></ion-icon>Submit Report</ion-button>
    </div>

  </div>

</ion-content>
