.main_section {
    padding: 1rem;


    .header_content {
        h2 {
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 2rem;
            margin-bottom: .5rem;
        }

        p {
            color: #6b7280;
        }
    }

    .today_summary {
        padding: 1.5rem;
        border-radius: 0.75rem;
        border: 1px solid var(--border-col);
        background: #fff;
        margin-top: 1.5rem;

        h3 {
            color: #6b7280;
            font-weight: 600;
            font-size: .875rem;
            line-height: 1.25rem;
            margin-bottom: 1rem;
        }

        .section_2 {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);

            .sec_1 {
                p:nth-child(1) {
                    font-weight: 700;
                    font-size: 1.875rem;
                    line-height: 2.25rem;
                }

                p:nth-child(2) {
                    color: #6b7280;
                    font-size: .75rem;
                    line-height: 1rem;
                }
            }

            .sec_2 {
                p:nth-child(1) {
                    font-weight: 700;
                    font-size: 1.875rem;
                    line-height: 2.25rem;
                }

                p:nth-child(2) {
                    color: #6b7280;
                    font-size: .75rem;
                    line-height: 1rem;
                }
            }
        }
    }

    .payment_methods {
        padding: 1.5rem;
        border-radius: 0.75rem;
        border: 1px solid var(--border-col);
        background: #fff;
        margin-top: 1.5rem;

        h3 {
            color: #6b7280;
            font-weight: 600;
            font-size: .875rem;
            line-height: 1.25rem;
            margin-bottom: 1rem;
        }

        .types_sec {
            .secs {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.75rem;

                &:last-child {
                    margin-bottom: unset !important;
                }

                .type {
                    font-size: .875rem;
                    line-height: 1.25rem;
                }

                .cost_sec {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    .transaction {
                        font-weight: 600;
                        font-size: .75rem;
                        line-height: 1rem;
                        padding-top: .125rem;
                        padding-bottom: .125rem;
                        padding-left: .625rem;
                        padding-right: .625rem;
                        background-color: #f0f2f4;
                        display: inline-flex;
                        align-items: center;
                        border-radius: 9999px;
                    }

                    .amount {
                        font-weight: 600;
                        font-size: .875rem;
                        line-height: 1.25rem;
                    }
                }
            }
        }
    }

    .top_selling_books {
        padding: 1.5rem;
        border-radius: 0.75rem;
        border: 1px solid var(--border-col);
        background: #fff;
        margin-top: 1.5rem;

        h3 {
            color: #6b7280;
            font-weight: 600;
            font-size: .875rem;
            line-height: 1.25rem;
            margin-bottom: 1rem;
        }

        .books_sec {
            .book_list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.75rem;

                &:last-child {
                    margin-bottom: unset !important;
                }

                .sec_1 {
                    .book_name {
                        font-weight: 500;
                        font-size: .875rem;
                        line-height: 1.25rem;
                    }

                    .sold {
                        color: #6b7280;
                        font-size: .75rem;
                        line-height: 1rem;
                    }
                }

                .sec_2 {
                    .amount {
                        color: #16a249;
                        font-weight: 600;
                        font-size: .875rem;
                        line-height: 1.25rem;
                    }
                }
            }
        }
    }

    .this_week {
        padding: 1.5rem;
        border-radius: 0.75rem;
        border: 1px solid var(--border-col);
        background: #fff;
        margin-top: 1.5rem;

        h3 {
            color: #6b7280;
            font-weight: 600;
            font-size: .875rem;
            line-height: 1.25rem;
            margin-bottom: 1rem;
        }

        .types {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;

            .sec_1 {
                display: flex;
                align-items: center;
                gap: .75rem;

                .sales_icon {
                    padding: .5rem;
                    background-color: #22295e1a;
                    border-radius: 0.75rem;

                    ion-icon {
                        width: 1.25rem;
                        height: 1.25rem;
                        display: block;
                        vertical-align: middle;
                    }
                }

                .sec1_p1 {
                    font-weight: 700;
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                }

                .sec1_p2 {
                    color: #6b7280;
                    font-size: .75rem;
                    line-height: 1rem;
                }
            }

            .sec_2 {
                display: flex;
                align-items: center;
                gap: .75rem;

                .revenue_icon {
                    padding: .5rem;
                    background-color: #16a2491a;
                    border-radius: 0.75rem;

                    ion-icon {
                        width: 1.25rem;
                        height: 1.25rem;
                        display: block;
                        vertical-align: middle;
                    }
                }

                .sec2_p1 {
                    font-weight: 700;
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                }

                .sec2_p2 {
                    color: #6b7280;
                    font-size: .75rem;
                    line-height: 1rem;
                }
            }
        }
    }
}