<app-header [home]="false" [title]="'Close Shift'" [backRoute]="'/tabs/sales'"></app-header>

<ion-content [fullscreen]="true" style="--background: #f6f7f9;">
  
  <div class="main_section">
    <div class="sec_1">
      <ion-icon src="/assets/icon/close-shift-currency.svg"></ion-icon>
      <h2 class="m-0">Close Shift</h2>
      <!-- <p class="m-0">SHIFT-20251029-2103</p> -->
    </div>
    <div class="sec_2">
      <div class="opening_balance">
        <p class="m-0">Opening Balance:</p>
        <p class="m-0">₹ 0</p>
      </div>
      <div class="cash_sales" *ngIf="false">
        <p class="m-0">Cash Sales:</p>
        <p class="m-0">+₹ 0.00</p>
      </div>
      <div class="expected_closing" *ngIf="report_details">
        <p class="m-0">Expected Closing:</p>
        <p class="m-0">{{db.formatCurrency(report_details?.total_revenue ?? 0)}}</p>
      </div>
    </div>
    <div class="sec_3" *ngIf="false">
      <label>Actual Cash Count (₹)</label>
      <input placeholder="Enter Actual Cash Count" type="number">
    </div>
    <div class="save_btn">
      <ion-button fill="clear" (click)="closeShift()">Close Shift</ion-button>
    </div>
  </div>

</ion-content>
