.main_section {
    padding: 1rem;

    .sec_1 {
        margin-bottom: 1rem;
        padding: 1.5rem;
        background: #fff;
        box-shadow: 0 0 5px #ddd;
        border-radius: 0.75rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        ion-icon {
            width: 3rem;
            height: 3rem;
        }

        h2 {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: .875rem;
            line-height: 1.25rem;
            color: #6b7280;
            margin-bottom: 0.5rem;
        }
    }

    // .sec_2 {
    //     margin-bottom: 1rem;
    //     padding: 1.5rem;
    //     background: #fff;
    //     box-shadow: 0 0 5px #ddd;
    //     border-radius: 0.75rem;

    //     .opening_balance {
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-between;
    //         padding-top: .5rem;
    //         padding-bottom: .5rem;
    //         border-bottom: 1px solid var(--border-col);

    //         p:nth-child(1) {
    //             font-size: .875rem;
    //             line-height: 1.25rem;
    //             color: #6b7280;
    //         }

    //         p:nth-child(2) {
    //             font-weight: 600;
    //             font-size: 1.125rem;
    //             line-height: 1.75rem;
    //         }
    //     }

    //     .cash_sales {
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-between;
    //         padding-top: .5rem;
    //         padding-bottom: .5rem;
    //         border-bottom: 1px solid var(--border-col);

    //         p:nth-child(1) {
    //             font-size: .875rem;
    //             line-height: 1.25rem;
    //             color: #6b7280;
    //         }

    //         p:nth-child(2) {
    //             font-weight: 600;
    //             font-size: 1.125rem;
    //             line-height: 1.75rem;
    //             color: #16a249;
    //         }
    //     }

    //     .expected_closing {
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-between;
    //         margin-top: 0.75rem;
    //         padding-top: .75rem;
    //         padding-bottom: .75rem;
    //         padding-left: .75rem;
    //         padding-right: .75rem;
    //         background: #22295e0d;
    //         border-radius: 0.75rem;

    //         p:nth-child(1) {
    //             font-weight: 500;
    //             font-size: 1rem;
    //             line-height: 1.5rem;
    //         }

    //         p:nth-child(2) {
    //             color: #22295e;
    //             font-weight: 700;
    //             font-size: 1.25rem;
    //             line-height: 1.75rem;
    //         }
    //     }
    // }


    .payment_methods {
        padding: 1.5rem;
        border-radius: 0.75rem;
        border: 1px solid var(--border-col);
        background: #fff;
        margin-block: 1.5rem;

        h3 {
            color: #6b7280;
            font-weight: 600;
            font-size: .875rem;
            line-height: 1.25rem;
            margin-bottom: 1rem;
        }

        .types_sec {
            .secs {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.75rem;

                &:last-child {
                    margin-bottom: unset !important;
                }

                .type {
                    font-size: .875rem;
                    line-height: 1.25rem;
                }

                .cost_sec {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    .transaction {
                        font-weight: 600;
                        font-size: .75rem;
                        line-height: 1rem;
                        padding-top: .125rem;
                        padding-bottom: .125rem;
                        padding-left: .625rem;
                        padding-right: .625rem;
                        background-color: #f0f2f4;
                        display: inline-flex;
                        align-items: center;
                        border-radius: 9999px;
                    }

                    .amount {
                        font-weight: 600;
                        font-size: .875rem;
                        line-height: 1.25rem;
                    }
                }
            }
        }

        .expected_closing {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 2rem;
            padding-top: .75rem;
            padding-bottom: .75rem;
            padding-left: .75rem;
            padding-right: .75rem;
            background: #22295e0d;
            border-radius: 0.75rem;

            p:nth-child(1) {
                font-weight: 500;
                font-size: 1rem;
                line-height: 1.5rem;
            }

            p:nth-child(2) {
                color: #22295e;
                font-weight: 700;
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
        }
    }

    .save_btn {
        // padding: 0.75rem;
        // border-top: 1px solid var(--border-col);
        // background: #fff;

        ion-button {
            --padding-start: 2rem;
            --padding-end: 2rem;
            --padding-top: 0.75rem;
            --padding-bottom: 0.75rem;
            width: 100%;
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 600;
            --border-radius: calc(0.75rem - 2px);
            height: 45px;

            ion-icon {
                margin-right: 1rem;
            }
        }
    }
}