.main_section {
    padding: 1rem;

    .button--wrapper{
        display: flex;
        gap: 1rem;

        ion-button {
            height: 3rem;
            width: 100%;
            font-size: .875rem;
            line-height: 1.5rem;
            font-weight: 600;
            --border-radius: calc(0.75rem - 2px);
    
            ion-icon {
                // margin-right: 1rem !important;
                margin-right: 0.75rem !important;
            }
        }
    }

    .sales_report {
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .boxes {
            padding: 1rem;
            background: #fff;
            border-radius: 0.75rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            box-shadow: 0 0 5px #ddd;

            ion-icon {
                width: 2rem;
                height: 2rem;
            }

            .label {
                font-size: .75rem;
                line-height: 1rem;
                color: #6b7280;
            }

            .value {
                font-size: 1.3rem;
                line-height: 2rem;
                font-weight: 600;
            }
        }
    }

    .quick_actions {
        padding: 1rem;
        border-radius: 0.75rem;
        margin-top: 1.5rem;
        box-shadow: 0 0 5px #ddd;
        background: #fff;

        h3 {
            font-weight: 600;
            font-size: .875rem;
            line-height: 1.25rem;
            margin-bottom: .75rem;
        }

        .boxes {
            background: #f6f7f9;
            border-radius: calc(0.75rem - 2px);
            margin-bottom: .75rem;
            display: flex;
            align-items: center;
            gap: .5rem;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border: 1px solid var(--border-col);

            ion-icon {
                width: 1rem;
                height: 1rem;
                margin-right: .5rem;
            }

            .label {
                font-size: 0.85rem;
                line-height: 1.25rem;
                font-weight: 600;
            }
        }
    }
}