.filter-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.filter-card {
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1.125rem;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
  background: #fff;
}

.header-label {
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-icon {
  font-size: 1.25rem;
  opacity: 0.7;
}

.content-block {
  background: #fafafa;
  padding: 0.5rem 0;
}

.option-item {
  transition: 0.2s ease;
  border-radius: 0.5rem;
  margin: 3px 0.5rem;
}

.option-item:hover {
  background: #e9eefc;
}

.selected-item {
  background: #dbe4ff !important;
  font-weight: 600;
}

.selected-icon {
  color: var(--primary-color);
  font-size: 1.25rem;
}

ion-toolbar {
  --background: var(--primary-color);

  ion-title {
    color: #fff;
  }

  ion-icon {
    color: #fff;
  }
}

.filter-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  position: sticky;
  bottom: 0;
  padding: 10px 0;
  background: #fff;
  z-index: 9999;

  .submit-btn {
    // margin-top: 10px;
    --border-radius: 10px;
    height: 45px;
    font-size: 1rem;
    font-weight: 500;
    width: 50%;
  }

  .clear-btn {
    --border-radius: 10px;
    height: 45px;
    font-size: 1rem;
    font-weight: 500;
    width: 50%;
    --background: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    box-shadow: unset;
  }
}